@model WebApplication1.Models.ViagemGrupo

@{
    ViewData["Title"] = "Create ViagemGrupo";
}

<h1>Criar relação ViagemGrupo</h1>

<h4>ViagemGrupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="ViagemId" class="control-label"></label>
                <select asp-for="ViagemId" class="form-control" asp-items="ViewBag.ViagemId"></select>
                <span asp-validation-for="ViagemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoDeViagemId" class="control-label"></label>
                <select asp-for="GrupoDeViagemId" class="form-control" asp-items="ViewBag.GrupoDeViagemId"></select>
                <span asp-validation-for="GrupoDeViagemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>
