@model WebApplication1.Models.ViagemGrupo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar ViagemGrupo</h1>

<h4>ViagemGrupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ViagemId" />
            <input type="hidden" asp-for="GrupoDeViagemId" />
            <div class="form-group">
                <label asp-for="Viagem.Destino" class="control-label"></label>
                <input type="text" class="form-control" value="@Model.Viagem.Destino" readonly />
            </div>
            <div class="form-group">
                <label asp-for="GrupoDeViagem.Nome_do_Grupo" class="control-label"></label>
                <input type="text" class="form-control" value="@Model.GrupoDeViagem.Nome_do_Grupo" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
