@model WebApplication1.Models.Grupo_de_Viagem

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Grupo de Viagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_do_Grupo" />
            <div class="form-group">
                <label asp-for="Nome_do_Grupo" class="control-label"></label>
                <input asp-for="Nome_do_Grupo" class="form-control" />
                <span asp-validation-for="Nome_do_Grupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_de_Inicio" class="control-label"></label>
                <input asp-for="Data_de_Inicio" class="form-control" />
                <span asp-validation-for="Data_de_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_de_Fim" class="control-label"></label>
                <input asp-for="Data_de_Fim" class="form-control" />
                <span asp-validation-for="Data_de_Fim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
