@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Esta página é apenas destinada a administradores.</p>
    <p>Para acederes à página principal do TripBuddy Connect, clica <a href="http://localhost:3000/">aqui</a>.</p>
</div>
