@{
    ViewData["Title"] = "Sobre o projeto:";
}
<h1>@ViewData["Title"]</h1>

<hr />
<h2>Instituição:</h2>
<p>Instituto Politécnico de Tomar</p>
<p>Escola Superior de Tecnologia de Tomar</p>
<p>Licenciatura em Engenharia Informática</p>


<hr />
<h2>Disciplina:</h2>
<p>Desenvolvimento Web 2023/2024, 2º Semestre</p>


<hr />
<h2>Código de Terceiros:</h2>
<p>- Maior parte do MVC criado pela Entity Framework</p>

<hr />

<p>Projeto by: João Campos, nº 25269, Turma A</p>
